:root {
  --white: #ffffff;
  --dark: #2c2c2c;
  --primary: #a35124;
  --medium: #999999;
  --yellow: #edcebd;
  --transition1: 200ms ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: border-box;

  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: hsla(0, 2%, 22%, 1);

  background: radial-gradient(
    circle,
    hsla(0, 2%, 22%, 1) 0%,
    hsla(0, 0%, 8%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(0, 2%, 22%, 1) 0%,
    hsla(0, 0%, 8%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(0, 2%, 22%, 1) 0%,
    hsla(0, 0%, 8%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#383636", endColorstr="#151515", GradientType=1 );
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  height: 96px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  justify-content: flex-start;
}
.nba__headlink {
  color: var(--white);
  font-size: 3rem;
}
.nba__headlink:hover {
  opacity: 0.8;
  transition: var(--transition1);
}
.nba-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.nba-new-search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nba__header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.nba__subheader {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.pill {
  border-radius: 100vmax;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.input {
  width: 20rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
  border-radius: 0.5rem;
}
.btn {
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn--primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn--clear {
  background-color: red;
  color: var(--white);
}
.saved-search {
  margin-bottom: 0.5rem;
}

/* Stats styling */
.stats-youtube-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 60rem;
  padding: 3rem 0;
  gap: 3rem;
}
.player-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.nba__name {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.nba__stat {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.text--yellow {
  color: var(--yellow);
  font-weight: 700;
}

/* Video container */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  max-width: 500px;
}
.video-iframe {
  border-radius: 1rem;
}

/* Search buttons style */
.append-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prev-search-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.search-alert {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

/* Modal styling */
.modal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.modal-content {
  width: 100%;
  background-color: rgba(44, 44, 44, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__text {
  font-size: 3rem;
}
.modal__close {
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 3rem;
  height: 2rem;
  width: 2rem;
  color: var(--white);
}
.modal__close:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition1);
}
.is-active {
  display: flex;
}
/* Hidden */
.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: unset;
    padding-left: 8rem;
  }
  .stats-youtube-wrapper {
    width: unset;
    flex-shrink: 2;
    padding: 1rem 2rem;
  }
  .video-iframe {
    width: 400px;
    height: 300px;
  }
  .video__title {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  main {
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .nba-text-wrapper {
    padding: 0 1.5rem;
  }
  .nba__header {
    text-align: center;
  }
  .stats-youtube-wrapper {
    flex-direction: column;
  }
  .player-info-wrapper {
    align-items: center;
  }
  .player-name {
    text-align: center;
  }
  .stats-container {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .header {
    justify-content: center;
    padding: 0;
  }
  .stats-youtube-wrapper {
    padding: 0 0 2rem 0;
  }
}
@media screen and (max-width: 400px) {
  .video-iframe {
    width: 350px;
  }
}
